{% extends 'app/base.html' %} 
{% load static %} 
{% block trademark %}
<br />
<br />
<br />
<br />
<br />

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  </head>
  <body>
    {% block register %}
    {% for product in products %}
    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image" src="{{product.ImageURL}}" width="250" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'home' %}">
                                        <i class="fa fa-long-arrow-left"></i> 
                                        <span class="ml-1">Back</span>
                                    </a>
                                </div>
                                <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="text-uppercase">{{product.name}}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                <span class="act-price">${{product.price}}</span>
                            </div>
                        </div>
                        <p class="about">{{product.detail}}</p>
                        
                            <div class="cart mt-4 align-items-center">
                                <div class="quantity-container">
                                    <button data-product={{product.id}} data-action="remove"
                                        class="btn btn-outline-secondary small-btn update-cart"
                                        onclick="decrementQuantity(this)">
                                        -
                                    </button>
                                    <span class="quantity">{{ product.quantity }}</span>
                                    <button data-product={{product.id}} data-action="add"
                                        class="btn btn-outline-secondary small-btn update-cart"
                                        onclick="incrementQuantity(this)">
                                        +
                                    </button>
                                </div>
                                <i class="fa fa-heart text-muted"></i> 
                                <i class="fa fa-share-alt text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock register %}
  </body>
</html>
{% endblock trademark %}
