{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'app/css/endpage.css' %}">
</head>
<body>
    <div style="text-align: center;">
        <h1>Thank you for purchasing our products!</h1>
        <h2>Product Review</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="feedback" placeholder="Feedback" required><br>
            <button onclick="event.preventDefault(); window.location.href='{% url 'home' %}';">Submit</button>
        </form>
    </div>
</body>
</html>
