{% extends 'app/base.html' %} {% load static %} {% block search_item %}
<div class="container-home">
  <div class="row" style="width=100%;">
    <h2 class="product-home" style="margin-left: 20px;">Suggest: {{searched}}</h2>
    {% for product in keys %}
    <div class="col-lg-3">
      <div class="product-wrapper">
        <img class="product-image" src="{{product.ImageURL}}" alt="" />
        <div class="box-element product">
          <br />
          <h6><strong>{{product.name}}</strong></h6>
          <hr />
          <button
            data-product="{{product.id}}"
            data-action="add"
            class="btn btn-outline-secondary add-btn update-cart"
          >
            Add to cart
          </button>
          {% if user.is_authenticated %}
              <div class="notification" id="notification" style="display: none">
                1 product added successfully!
              </div>
              {% endif %}
            <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">View</a>
          <h4 class="price" style="display: inline-block; float: right">
            <strong>{{product.price | floatformat:2}}$</strong>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="change-template" style="margin-left: 595px; margin-top: -300px; margin-bottom: 100px;">
  <a class="btn btn-outline-dark" href="{% url 'home' %}"
    >&#x2190; Comeback Home</a
  >
  <a class="btn btn-outline-dark" href="{% url 'cart' %}"
    > Come to Cart &#x2192;</a
  >
</div>
<script src="{% static 'app/js/home.js' %}"></script>
{% endblock search_item %}
