body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: rgb(103, 169, 169);
  background-color: rgb(234, 235, 236);
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: -30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(103, 169, 169);
  border-radius: 10px;
  width: 250px;
  height: 20px;
  outline: none;
  transition: border-color 0.3s;
}

textarea[type="text"]:focus {
  border-color: rgb(0, 123, 255);
}

button {
  background-color: rgb(103, 169, 169);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(107, 142, 179);
}
